@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1b1b1b;
  --foreground-muted: #71717a;
  --background-card: #f3f4f6;
  --decoration: #cbd5e1;
  --loading: #e5e7eb;
}

.bar {
  animation: waveAnimation 2.5s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes waveAnimation {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(1.6);
  }
  20% {
    transform: scaleY(3.2);
  }
  30% {
    transform: scaleY(2.8);
  }
  40% {
    transform: scaleY(4.5);
  }
  50% {
    transform: scaleY(3.6);
  }
  60% {
    transform: scaleY(2.2);
  }
  70% {
    transform: scaleY(4);
  }
  80% {
    transform: scaleY(1.8);
  }
  90% {
    transform: scaleY(2.4);
  }
  100% {
    transform: scaleY(1);
  }
}

.bar:nth-child(4n - 3) {
  animation-delay: -1.2s;
  animation-duration: 4s;
}

.bar:nth-child(4n - 2) {
  animation-delay: -1s;
}

.bar:nth-child(4n - 1) {
  animation-delay: -0.6s;
}

.bar:nth-child(4n) {
  animation-delay: -0.3s;
  animation-duration: 5s;
}
